* {
	box-sizing: border-box;
	margin: 0;
}

body {

	position: relative;
	height: 1440px;
	background: #FFCBBA;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	font-family: "Montserrat";
}

/* Nav */

.nav-container {
	/* Color Drop */
height: 220px;
background: #FFBBA6;
opacity: 0.5;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}

nav ul {
	display: flex;
}

.logo {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	color: #FFFFFF;
}